<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11309361150-o78b2rfqnhjd907nq293ag31q94i64ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11309361150-o78b2rfqnhjd907nq293ag31q94i64ak</string>
	<key>API_KEY</key>
	<string>AIzaSyDnrmiWKLeaf2CS-lMUJ_npTPV4VF1_HQM</string>
	<key>GCM_SENDER_ID</key>
	<string>11309361150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linktreeManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>linktreemanager-a2c7d</string>
	<key>STORAGE_BUCKET</key>
	<string>linktreemanager-a2c7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11309361150:ios:f65eb67209bba3d57342af</string>
</dict>
</plist>